{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
   "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "globals": {
    "module": true,
    "document" : true,
  },
}
